<!doctype html>
<html lang="en">
<%- include('./partials/head', { title }); %>
<body>
  <%- include('./partials/header'); %>
  <h2><%= title %></h2>
  <p><em>This post is part of a series on <a href="/">crossword puzzles, data, and language</a>.</em></p>
  <% if (filename) { %>
    <%- include(`./articles/${filename}`); %>
  <% } %>
  <%- include('./partials/scripts'); %>
</body>
</html>
